<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>

<body>
    <h1>india</h1>
    <h3 id="totalCases">Total cases: <span> </span> </h3>
    <h3 id="totalRecovered">Total Recovered: <span> </span> </h3>
    <h3 id="totalDeaths">Total Deaths: <span> </span> </h3>
    <h3 id="totalActive">Total Active: <span> </span> </h3>
    <br>
    <br>
    <h1>jammu and kashmir</h1>
    <h3 id="totalCasesJK">Total cases: <span> </span> </h3>
    <h3 id="totalRecoveredJK">Total Recovered: <span> </span> </h3>
    <h3 id="totalDeathsJK">Total Deaths: <span> </span> </h3>
    <h3 id="totalActiveJK">Total Active: <span> </span> </h3>
    <script src="./main.js"></script>
</body>

</html>