<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <li><a href="./360 virtual tour images & video/video.html">360 video</a></li>
        <li><a href="./360 virtual tour images/index.html">360 images</a></li>
        <li><a href="./jk-tourism-sub-site-new-design/index.html"> jk tourism sub-site</a></li>
        <li><a href="./jk-tourism-sub-site-new-design - 2/index.html"> jk tourism sub-site 2</a></li>
        <li><a href="./multi step form/index.html"> multi step form </a></li>
        <li><a href="./new webiste design/index.html">new design</a></li>
        <li> <a href="./multi step form/homepage/homepage.html">Multi step form homepage</a></li>
        <li><a href="./step wizard/index.html">Step Wizard</a></li>
        <li><a href="./recruitment-app-using- template/recruitment-app.html">recruitment-app using template</a></li>
        <li><a href="./notifications/index.html">notifications</a></li>
        <li><a href="./odisha mega menu/odisha curtain menu/odishaheader.html">Header (odisha) </a></li>
    </ul>



</body>

</html>