@font-face {
  font-family: "Palatino Linotype";
  src: url(fonts/palab.ttf);
}
body{
  font-family: "Palatino Linotype", "Times New Roman", Palatino, serif;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-size:14px;
}

.top-menu li.divider a  {
border-right: 1px solid #c3c3c3;
height: 20px;
padding: 0px 10px;
}

#top-menu-items{
	padding:10px;
}

/*for multilevel dropdown*/
 .dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
#moving-left{
  font-size: 12pt;
  background-color: #011c27;
  position: initial;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: italic;
  font-weight: bold;
  color: white;

}
.main-nav{
  background-color: #011c27;
}
.nav-link{
  color: #FFF;
}
.signin{
  color: #777777;
}
.notices{
  background-color: #011c27;
  color: white;
  padding:5px;
}
.slide-caption{
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 15px;
    color: #fff;
    font-size: 16px;
}


